<h2>Add a new project:</h2>
<form action="/projects/new" method="post">
  <label for="name">Name: </label><input type="text" name="name">
  <label for="status">Status: </label>
  <select name="status">
  	<option value="In Progress" selected> In Progress </option>
  	<option value="Upcoming"> Upcoming </option>
  	<option value="Finished"> Finished </option>
  </select>
  <br>
  <label for="pattern_info">Pattern information: </label><input type="text" name="pattern_info"><br>
  <label for="notes">Notes/Description: </label><input type="text" name="notes"><br>

  <label>Select Yarn</label>
  <% current_user.yarns.each do |yarn| %>
    <input type="checkbox" name="project[yarn_ids][]" value="<%= yarn.id %>"><%= yarn.brand.name %> - <%= yarn.color %><br>
  <% end %>

  <input type="submit" value="Create Project">
</form>
