<% if logged_in? %>
  <p>Welcome, <%= current_user.name %>!</p>
  <p>You are currently logged in.</p>
<% else %>
  <h1>Welcome to the Yarn Stash Organizer, Crafter!</h1>
  <h2>Please sign up to join!</h2>
  <form action="/signup" method="post">
    <label for="name">Name: </label><input type="text" name="name" required><br>
    <label for="email">Email: </label><input type="text" name="email" required><br>
    <label for="password">Password: </label><input type="password" name="password" required><br>
    <input type="submit" value="Join">
  </form>
<% end %>

<p>Already a member?  <a href="/login">Log In!</a></p>
