<h2>Add yarn to your stash:</h2>
<form action="/yarns/new" method="post">
  <input type="text" name="name" placeholder="tool name">
  <label for="project_id">Add to a project? </label>
  <% current_user.projects.each do |project| %>
    <input type="radio" name="project_id" value="<%= project.id %>"> <%= project.name %>
  <% end %>
  <br>
  <input type="submit" value="Add">
</form>


t.string "name"
t.string "material"
t.string "weight"
t.string "hook"
t.string "needle"
t.integer "skein_weight"
t.integer "skein_length"
