<h2>Add yarn to your stash:</h2>
<form action="/yarns/new" method="post">
  <input type="text" name="name" placeholder="tool name">
  <label for="project_id">Add to a project? </label>
  <% current_user.projects.each do |project| %>
    <input type="radio" name="project_id" value="<%= project.id %>"> <%= project.name %>
  <% end %>
  <br>
  <input type="submit" value="Add">
</form>


t.string "color"
t.integer "count"
t.float "scrap"
t.integer "project_id"
t.integer "brand_id"
