<h2>Add yarn to your stash:</h2>
<form action="/yarns/new" method="post">

  <label for="yarn[color]">Color: </label><input type="text" name="yarn[color]" required><br>

  <label for="yarn[count]">How many full skeins: </label><input type="text" name="yarn[count]"><br>
  <label for="yarn[scrap]">How much scrap: </label><input type="text" name="yarn[scrap]"> oz.<br>

  <h3><label for="yarn[brand_id]">Select a Brand: </label></h3>
  <% current_user.brands.uniq.each do |brand| %>
    <input type="radio" name="yarn[brand_id]" value="<%= brand.id %>"> <%= brand.name %>
  <% end %>

    <h4>Create a new brand:</h4>
    <label for="brand[name]">Brand Name: </label><input type="text" name="brand[name]"><br>
    <label for="brand[material]">Select Material: </label>
    <select name="brand[material]">
      <option value="Acrylic" selected> Acrylic </option>
      <option value="Cotton"> Cotton </option>
      <option value="Wool"> Wool </option>
      <option value="Specialty"> Specialty </option>
    </select><br>
    <label for="brand[weight]">Select Gauge: </label>
    <select name="brand[weight]">
      <option value="0"> 0 - Lace </option>
      <option value="1"> 1 - Super Fine </option>
      <option value="2"> 2 - Fine </option>
      <option value="3"> 3 - Light </option>
      <option value="4" selected> 4 - Medium </option>
      <option value="5"> 5 - Bulky </option>
      <option value="6"> 6 - Super Bulky </option>
      <option value="7"> 7 - Jumbo </option>
      <option value="Novelty"> Novelty </option>
    </select><br>
    <label for="brand[skein_weight]">Skein weight: </label><input type="text" name="brand[skein_weight]"> oz<br>
    <label for="brand[skein_length]">Skein length: </label><input type="text" name="brand[skein_length]"> yd<br>
    <label for="brand[hook]">Recommended crochet hook: </label><input type="text" name="brand[hook]"><br>
    <label for="brand[needle]">Recommended knitting needle: </label><input type="text" name="brand[needle]"><br>


  <h3><label for="yarn[project_id]">Add to a project? </label></h3>
  <% current_user.projects.each do |project| %>
    <input type="radio" name="yarn[project_id]" value="<%= project.id %>"> <%= project.name %>
  <% end %>
  <p>* New yarn will default to your "Stash" project. *</p>

  <h4>Create a new project:</h4>
    <label for="project[name]">Project Name: </label><input type="text" name="project[name]">
    <label for="project[status]">Status: </label>
    <select name="project[status]">
    	<option value="In Progress" selected> In Progress </option>
    	<option value="Upcoming"> Upcoming </option>
    	<option value="Finished"> Finished </option>
    </select>
    <br>
    <label for="project[pattern_info]">Pattern information: </label><input type="text" name="project[pattern_info]"><br>
    <label for="project[notes]">Notes/Description: </label><input type="text" name="project[notes]"><br>
    <br>

  <input type="submit" value="Add Yarn">
</form>
