<h2>Add yarn to your stash:</h2>
<form action="/yarns/new" method="post">
  <label for="brand_id">Select Brand: </label>
  <select name="brand_id">
    <% current_user.brands.each do |brand| %>
      <option value="<%= brand.id %>"> <%= brand.name %> </option>
    <% end %>
  </select>
  <label for="color">Color: </label><input type="text" name="name"><br>
  <label for="count">How much do you have? Full skeins: </label><input type="text" name="count">
  <label for="scrap">Scraps: </label><input type="text" name="scrap"> oz<br>
  <label for="project_id">Add to a project? </label>
  <% current_user.projects.each do |project| %>
    <input type="checkbox" name="project_id" value="<%= project.id %>"> <%= project.name %>
  <% end %>
  <br>
  <input type="submit" value="Add Yarn">
</form>
