<!doctype html>
<html>
  <head>
    <title>Yarn Organizer</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
  </head>
  <body>
    <nav>
      <% if logged_in? %>

        <!-- <a href="/clubs/new"> Create Club </a> -->
        <!-- create a new project, add a new yarn, add an accessory -->
        <!-- view/find my projects, view/find my yarn collection, view/find my accessories -->
        <p><a href="/projects">My Projects</a></p>
        <p><a href="/yarns">My Stash</a></p>
        <p><a href="/accessories">My Tools</a></p>
        <p><a href="/account">Account Details</a></p>
        <p><a href="/logout">Log Out</a></p>

      <% else %>
        <p><a href="/login">Log In</a></p>
        <p><a href="/signup">Join</a></p>
      <% end %>

    </nav>
    <div class="container">
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

      <%= yield %>

    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
  </body>
</html>
