<h2>Add a new tool:</h2>
<form action="/accessories/new" method="post">
  <input type="text" name="name" placeholder="tool name">
  <label for="project">Add to a project? </label>
  <% current_user.projects.each do |project| %>
    <input type="radio" name="project" value="<%= project.id %>"> <%= project.name %>
  <% end %>
  <br>
  <input type="submit" value="Add">
</form>
