<h2><%= @accessory.name %></h2>
<p>Current Project: <%= @accessory.project.name %></p>

<% if current_user == @accessory.project.user %>
  <form action="/acessories/<%= @accessory.id %>/edit" method="get">
    <input type="submit" value="Update Tool">
  </form>

  <form action="/accessories/<%= @accessory.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Tool">
  </form>
<% end %>
